on:
  pull_request:
    types:
      - closed

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    environment: DEV
    defaults:
      run:
        shell: bash

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
      with: 
        ref: ${{ github.ref }}

    - name: 'Setup Terraform'
      uses: hashicorp/setup-terraform@v1

    - name: Download artifact
      uses: dawidd6/action-download-artifact@v2
      with:
        workflow: tfplan.yml
        name: TerraformPlan

    - name: 'Apply Terraform Plan'
      run: |
        export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
        export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
        terraform init
        terraform apply tfplan
